@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scroll {
  overflow-y: hidden;
}

.postNav {
  .swiper-pagination {
    bottom: 15% !important;
  }

  .swiper-pagination-bullet-active {
    background-color: white;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: white !important;
    border: 1px solid white !important;
    border-radius: 50% !important;
    height: fit-content !important;
    padding: 7px;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 10px !important;
  }

  .swiper-button-disabled {
    opacity: 0.75 !important;
    display: none;
  }
}

.swiper-wrapper {
  gap: 1rem;
}

input {
  background-color: #efeff0 !important;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

input[type='file']::file-selector-button {
  background-color: transparent;
  color: black;
  border: none;
}

.spinner {
  animation: spin 4s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#instagram-icon {
  animation: zoomInOut 2s infinite;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
