@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-z-index: 9999999 !important;
}

.overflow-width-scroll {
  ::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
  }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: darkgrey;
  }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scroll {
  overflow-y: hidden;
}

.postNav {
  .swiper-button-prev,
  .swiper-button-next {
    @media screen and (min-width: 760px) {
      color: white !important;
      mix-blend-mode: difference;
      border: 1px solid white !important;
      border-radius: 50% !important;
      height: fit-content !important;
      padding: 7px;
      opacity: 1 !important;
    }
    top: 15% !important;
    opacity: 0;
    width: 25% !important;
    height: 89% !important;
    border: 0 !important;
    border-radius: 0 !important;
    right: 0;
  }
  .swiper-button-prev {
    left: 0 !important;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 10px !important;
  }

  .swiper-button-disabled {
    opacity: 0.75 !important;
    display: none;
  }
}

.singlePostSwi {
  .swiper-button-prev,
  .swiper-button-next {
    color: inherit !important;
    border: 1px solid gray !important;
    border-radius: 50% !important;
    height: fit-content !important;
    padding: 5px;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 10px !important;
  }

  .swiper-button-disabled {
    display: none !important;
  }
}

input {
  background-color: #efeff0 !important;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

input[type='file']::file-selector-button {
  background-color: transparent;
  color: black;
  border: none;
}

.spinner {
  animation: spin 4s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#instagram-icon {
  animation: zoomInOut 2s infinite;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

button:disabled {
  opacity: 0.3;
}

/* for searching */

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.fade-in {
  animation: fadeIn 0.35s forwards;
}

.fade-out {
  animation: fadeOut 0.5s forwards;
  opacity: 0;
  display: none;
}

.progress-bar {
  max-width: 100%;
  border-radius: 10px;
  height: 5px;
  width: 0;
  background-color: white;
  transform-origin: left;
}

.progress-bar.active {
  transition: width 0.3s linear;
}
